.flex{display: flex;}
.column{flex-direction: column;}
.x-center{ justify-content: center;}
.y-center{ align-items: center;}
.font{font-family: "Josefin Sans", sans-serif;}

.container{
    height: 450px; width: 250px; 
    border: solid black 5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255)   ;
    
}
 .box-1{
    height:60px ;width: 250px; margin-top: 40px;
    ;background-color: rgb(231, 246, 223);flex-direction: column;
 }

button{
    margin-top: 20px;
}
 
 
 img{
    height: 20px;width: 20px;
    margin-left: 50px;
 }
.item-1{
    height: 30px;width: 220px;
  border-radius: 15px;justify-content: center;
    background-color: rgb(255, 255, 255);
    
} 

.item{
    height: 140px;width: 90%;
    background-color: rgb(230, 230, 230);
    justify-content: space-evenly;border-radius: 10px;
    border: solid 2px rgb(230, 230, 230) ;margin-top: 30px;
}
.body{justify-content: center;}
.item-1::after{
    content: "";
    height: 20px;width: 20px;
    position: absolute;
    right: 10px; top:5px;
    background-image: url("images.png");
    background-size: cover;
    
}
.relative{
    position: relative;
}
.item-1::before{
    content: "";
    height: 20px;width: 20px;
    position: absolute;
    left: 10px; top:5px;
    background-image: url("img.png");
    background-size: cover;
    
}
.box-1::before{
    content: "";
    height: 50px;width: 50px;
    position: absolute;
    left: 10px; top:5px;
    background-image: url("su.png");
    background-size: cover;
    size: 50px;
}
.flex-1{
    height: 30px;
    width: 200px;
    border: black solid 1px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}