.flex-container{display:flex;
    align-items: center;justify-content: center;
    ;justify-content: space-between;
    flex-direction: column;}

.box-1{height: 100px;width: 100px;border: solid  black 1px;margin: 50px;
    display:flex;background-color:lightblue;
    align-items: center;justify-content: center;}

.flex-container-1{display:flex;
    align-items: center;justify-content: center;
    ;justify-content: space-between;
    flex-direction: row;}    
.box-2{height: 100px;width: 100px;border: solid  black 1px;margin: 50px;
    display:flex;background-color:lightblue;
    align-items: center;justify-content: center;}         